
.pokemon-card {
    display: flex;
    position: relative ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0.2rem;
    margin: 0.3rem;
    border: 1px solid #efefef;
    /* border-radius: 1rem; */
    min-width: 160px;
    width: 200px; /* Added fixed width */
    text-align: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
    transition: transform 0.3s ease-in-out;
  }
  
  
  .pokemon-card:hover {
    /* margin: 0.7rem 0; */
    z-index: 1;
    transform: scale(1.2);
    border-radius: 10px;
  }
  
  h3 {
    margin-bottom: 0.2rem;
    text-decoration: underline;
  }
  .pokemon-card .number {
    border-radius: 1rem;
    padding: 0.2rem 0.4rem;
    background-color: rgba(255,255,255,0.3);
  }
  .pokemon-card img {
    width: 120px;
    height: 120px;
  }
  
  .pokemon-card small {
    text-transform: capitalize;
  }
  
  .detail-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* z-index: 2; */
    /* background: initial; */
  }
  .detail-wrapper button {
    color: rgb(22, 22, 22);
    padding: .5rem;
    margin-top: 1rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.185);
    /* background: inherit; */
    /* background: initial; */
    /* background-position: fit; */
    background-position: center;
  }
  
  .load-more {
    
    background-color: #76daff;
  background-image: linear-gradient(315deg, #76daff 0%, #fcd000 74%);
    border-radius: 6px;
    border: 1px solid #c6c6c6;
    color: #444;
    padding: 0.5rem 1.5rem;
    min-width: 20%;
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
    
  }

    .load-more:hover{
    background-color: #ff0000;
    background-image: linear-gradient(315deg, #ff0000 0%, #ffed00 74%);
  }