@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

*{
  padding: 0;
  margin: 0;
}

body {
  display: flex;
	background: #000;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
  font-family: Poppins, sans-serif;
}
#parent{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
}

/* Get from Newton CSS*/

.rock {
  background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}
.ghost {
  
  background-image: linear-gradient(to top, #b7b7b8 0%, #e2ebf0 100%);
}
.electric {
  
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}
.bug {
  
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}
.poison {
  
  background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
}
.normal {
  
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
.fairy {
  
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.fire {
  
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.grass {
  
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.water {
  
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
.ground{
  
  background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
  
}

.btn-rock {
  background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}
.btn-ghost {
  background-image: linear-gradient(to top, #b7b7b8 0%, #e2ebf0 100%);
}
.btn-electric {
  background-image: linear-gradient(120deg, #ff3700 0%, #ffd500 100%);
}
.btn-bug {
  background-image: linear-gradient(120deg, #eab878 0%, #ce8c31 100%);
}
.btn-poison {
  background-image: linear-gradient(120deg, #e168a7 0%, #bfd9fe 100%);
}
.btn-normal {
  background-image: linear-gradient(120deg, #f6b2e8 0%, #edd7e8 100%);
}
.btn-fairy {
  background-image: linear-gradient(
    120deg,
    #ff898d 0%,
    #fcc4ea 99%,
    #fecfef 100%
  );
}
.btn-fire {
  background-image: linear-gradient(120deg, #f2c83ca2 0%, #f17c5c 100%);
}
.btn-grass {
  background-image: linear-gradient(120deg, #ace034 0%, #3bf154 100%);
}
.btn-water {
  background-image: linear-gradient(120deg, #77ecf5 0%, #4592fd 100%);
}
.btn-ground {
  background-image: linear-gradient(120deg, #813017 0%, #cd8843 74%);
}


.btn-electric:hover {
  background-image: linear-gradient(320deg, #ff3700 0%, #ffd500 100%);
}
.btn-bug:hover {
  background-image: linear-gradient(320deg, #eab878 0%, #ce8c31 100%);
}
.btn-poison:hover {
  background-image: linear-gradient(320deg, #e168a7 0%, #bfd9fe 100%);
}
.btn-normal:hover {
  background-image: linear-gradient(320deg, #f6b2e8 0%, #edd7e8 100%);
}
.btn-fairy:hover {
  background-image: linear-gradient(
    320deg,
    #ff898d 0%,
    #fcc4ea 99%,
    #fecfef 100%
  );
}
.btn-fire:hover {
  background-image: linear-gradient(320deg, #f2c83ca2 0%, #f17c5c 100%);
}
.btn-grass:hover {
  background-image: linear-gradient(320deg, #ace034 0%, #3bf154 100%);
}
.btn-water:hover {
  background-image: linear-gradient(320deg, #77ecf5 0%, #4592fd 100%);
}
.btn-ground:hover {
  background-image: linear-gradient(320deg, #813017 0%, #cd8843 74%);
}




.app-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem 1rem;
} 

.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
